@page "/movie/{imdbID}"
@using Movieapp.Models
@inject HttpClient Http
@inject NavigationManager Navigation

@if (IsLoading)
{
    <p class="loading">Loading...</p>
}
else if (ErrorMessage != null)
{
    <p class="error-message">@ErrorMessage</p>
}
else if (Movie != null)
{
    <div class="movie-detail-wrapper">
        <div class="movie-detail-card">
            <img src="@Movie.Poster" alt="@Movie.Title" class="movie-poster" />
            <div class="movie-detail-info">
                <h1>@Movie.Title</h1>
                <p><strong>Release Date:</strong> @Movie.Released</p>
                <p><strong>Genre:</strong> @Movie.Genre</p>
                @if (Movie.Type == "series")
                {
                    <p><strong>Total Seasons:</strong> @Movie.totalSeasons</p>
                }
                <p><strong>Director:</strong> @Movie.Director</p>
                <p><strong>Cast:</strong> @Movie.Actors</p>
                <p><strong>Plot:</strong> @Movie.Plot</p>
                <p><strong>IMDb Rating:</strong> @Movie.imdbRating</p>
                <button class="back-button" @onclick="GoBack">Back</button>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public string imdbID { get; set; } = "";

    private MovieDetails? Movie;
    private bool IsLoading = true;
    private string? ErrorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string apiKey = "c7a651a0";
            string url = $"https://www.omdbapi.com/?apikey={apiKey}&i={imdbID}&plot=full";

            Movie = await Http.GetFromJsonAsync<MovieDetails>(url);

            if (Movie?.Response == "False")
            {
                ErrorMessage = Movie?.Error ?? "Movie not found.";
            }
        }
        catch (Exception)
        {
            ErrorMessage = "Error fetching movie details.";
        }
        finally
        {
            IsLoading = false;
        }
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/movies");
    }
}
